<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MESAC-Companion.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B8A18F841CFAADF90044AA7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8A18F9B1CFAADF90044AA7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8A18FA61CFAADF90044AA7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
