<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MESAC-Companion.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B8EE02531D104A860021A303</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8EE026A1D104A860021A303</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8EE02751D104A860021A303</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
